policy_module(sysadm)

########################################
#
# Declarations
#

## <desc>
## <p>
## Allow sysadm to debug or ptrace all processes.
## </p>
## </desc>
gen_tunable(allow_ptrace, false)

## <desc>
## <p>
## Allow sysadm to read/write to fifo files inherited from
## a domain allowed to change role.
## </p>
## </desc>
gen_tunable(sysadm_allow_rw_inherited_fifo, false)

#role sysadm_r;

userdom_admin_user_template(sysadm)

# Allow login_exec_t to be an entry point for sysadm_t
# This allows login to transition from getty_t to sysadm_t via default_contexts
auth_login_entry_type(sysadm_t)

ifndef(`enable_mls',`
	userdom_security_admin_template(sysadm_t, sysadm_r)
')

########################################
#
# Local policy
#

corecmd_exec_shell(sysadm_t)

# Allow sysadm to use console and TTY devices
term_use_console(sysadm_t)
term_use_all_ttys(sysadm_t)

# Allow sysadm to access unlabeled files (e.g., in /data/)
kernel_read_unlabeled_files(sysadm_t)
kernel_rw_unlabeled_files(sysadm_t)
kernel_manage_unlabeled_files(sysadm_t)
kernel_list_unlabeled(sysadm_t)
kernel_manage_unlabeled_dirs(sysadm_t)

corenet_ib_access_unlabeled_pkeys(sysadm_t)
corenet_ib_manage_subnet_unlabeled_endports(sysadm_t)

dev_read_kmsg(sysadm_t)
dev_rw_ipmi_dev(sysadm_t)

logging_watch_all_logs(sysadm_t)
logging_watch_audit_log(sysadm_t)

mls_process_read_all_levels(sysadm_t)

selinux_read_policy(sysadm_t)

ubac_process_exempt(sysadm_t)
ubac_file_exempt(sysadm_t)
ubac_fd_exempt(sysadm_t)

init_exec(sysadm_t)
init_admin(sysadm_t)

# Add/remove user home directories
userdom_manage_user_home_dirs(sysadm_t)
userdom_home_filetrans_user_home_dir(sysadm_t)

ifdef(`direct_sysadm_daemon',`
	optional_policy(`
		init_run_daemon(sysadm_t, sysadm_r)
	')
',`
	ifdef(`distro_gentoo',`
		optional_policy(`
			seutil_init_script_run_runinit(sysadm_t, sysadm_r)
		')
	')
')

ifdef(`distro_gentoo',`
	init_exec_rc(sysadm_t)
')

ifndef(`enable_mls',`
	logging_manage_audit_log(sysadm_t)
	logging_manage_audit_config(sysadm_t)
	logging_run_auditctl(sysadm_t, sysadm_r)
')

ifdef(`init_systemd',`
	# Allow managing runtime units, for example mount units generated
	# from /etc/fstab.
	init_get_runtime_units_status(sysadm_t)
	init_start_runtime_units(sysadm_t)
	init_stop_runtime_units(sysadm_t)

	# Allow sysadm to resolve the username of dynamic users by calling
	# LookupDynamicUserByUID on org.freedesktop.systemd1.
	init_dbus_chat(sysadm_t)

	# Allow sysadm to get the status of and set properties of other users,
	# sessions, and seats on the system.
	systemd_dbus_chat_logind(sysadm_t)

	# Allow sysadm to query and set networking settings on the system.
	systemd_dbus_chat_networkd(sysadm_t)
	fs_read_nsfs_files(sysadm_t)

	# Allow sysadm to follow logs in the journal, i.e. with podman logs -f
	systemd_watch_journal_dirs(sysadm_t)
')

tunable_policy(`allow_ptrace',`
	domain_ptrace_all_domains(sysadm_t)
')













optional_policy(`
	dev_rw_xen(sysadm_t)
')

optional_policy(`
	dhcpd_admin(sysadm_t, sysadm_r)
')


optional_policy(`
	fstools_run(sysadm_t, sysadm_r)
')


optional_policy(`
	iptables_admin(sysadm_t, sysadm_r)
	iptables_run(sysadm_t, sysadm_r)
')













optional_policy(`
	unconfined_domtrans(sysadm_t)
')



ifndef(`distro_redhat',`
	optional_policy(`
		auth_role(sysadm, sysadm_t, sysadm_application_exec_domain, sysadm_r)
	')

	optional_policy(`
		bluetooth_admin(sysadm_t, sysadm_r)
		bluetooth_role(sysadm, sysadm_t, sysadm_application_exec_domain, sysadm_r)
	')

	optional_policy(`
		cron_admin_role(sysadm, sysadm_t, sysadm_application_exec_domain, sysadm_r)
	')
')
