policy_module(sysadm, 2.15.0)

########################################
#
# Declarations
#

## <desc>
## <p>
## Allow sysadm to debug or ptrace all processes.
## </p>
## </desc>
gen_tunable(allow_ptrace, false)

#role sysadm_r;

userdom_admin_user_template(sysadm)

ifndef(`enable_mls',`
	userdom_security_admin_template(sysadm_t, sysadm_r)
')

########################################
#
# Local policy
#

corecmd_exec_shell(sysadm_t)

corenet_ib_access_unlabeled_pkeys(sysadm_t)
corenet_ib_manage_subnet_unlabeled_endports(sysadm_t)

dev_read_kmsg(sysadm_t)
gen_require(`
	type device_t, default_t, init_t, node_t, unreserved_port_t, NetworkManager_t, system_dbusd_t;
	class unix_dgram_socket sendto;
	class capability2 wake_alarm;
	class dbus acquire_svc;
')
allow sysadm_t device_t:chr_file { read write open ioctl append };
allow sysadm_t default_t:file { execute execute_no_trans };
allow sysadm_t init_t:netlink_route_socket { read write };
allow sysadm_t init_t:socket { read write };
allow sysadm_t init_t:tcp_socket { read write };
allow sysadm_t init_t:unix_dgram_socket { read write };
allow sysadm_t self:process execmem;
allow sysadm_t self:rawip_socket { create read };
allow sysadm_t self:socket { bind setopt };
allow sysadm_t self:capability2 wake_alarm;
allow sysadm_t node_t:tcp_socket node_bind;
allow sysadm_t unreserved_port_t:tcp_socket name_bind;
allow sysadm_t unreserved_port_t:udp_socket name_bind;

optional_policy(`
	gen_require(`
		type system_dbusd_t;
		class dbus acquire_svc;
	')
	allow sysadm_t system_dbusd_t:dbus acquire_svc;
')

optional_policy(`
	gen_require(`
		type NetworkManager_t;
		class unix_dgram_socket sendto;
	')
	allow sysadm_t NetworkManager_t:unix_dgram_socket sendto;
')

mls_process_read_all_levels(sysadm_t)

selinux_read_policy(sysadm_t)

ubac_process_exempt(sysadm_t)
ubac_file_exempt(sysadm_t)
ubac_fd_exempt(sysadm_t)

init_exec(sysadm_t)
init_admin(sysadm_t)

selinux_read_policy(sysadm_t)
gen_require(`
	type fs_t;
')
allow sysadm_t fs_t:filesystem remount;

# Add/remove user home directories
userdom_manage_user_home_dirs(sysadm_t)
userdom_home_filetrans_user_home_dir(sysadm_t)

ifdef(`direct_sysadm_daemon',`
	optional_policy(`
		init_run_daemon(sysadm_t, sysadm_r)
	')
',`
	ifdef(`distro_gentoo',`
		optional_policy(`
			seutil_init_script_run_runinit(sysadm_t, sysadm_r)
		')
	')
')

ifdef(`distro_gentoo',`
	init_exec_rc(sysadm_t)
')

ifndef(`enable_mls',`
	logging_manage_audit_log(sysadm_t)
	logging_manage_audit_config(sysadm_t)
	logging_run_auditctl(sysadm_t, sysadm_r)
')

ifdef(`init_systemd',`
	# Allow sysadm to resolve the username of dynamic users by calling
	# LookupDynamicUserByUID on org.freedesktop.systemd1.
	init_dbus_chat(sysadm_t)
')

tunable_policy(`allow_ptrace',`
	domain_ptrace_all_domains(sysadm_t)
')

optional_policy(`
	bind_admin(sysadm_t, sysadm_r)
	bind_run_ndc(sysadm_t, sysadm_r)
')

optional_policy(`
	chronyd_admin(sysadm_t, sysadm_r)
')

optional_policy(`
	clock_run(sysadm_t, sysadm_r)
')

optional_policy(`
	dhcpd_admin(sysadm_t, sysadm_r)
')

optional_policy(`
	fstools_run(sysadm_t, sysadm_r)
')

optional_policy(`
	hostname_run(sysadm_t, sysadm_r)
')

optional_policy(`
	libs_run_ldconfig(sysadm_t, sysadm_r)
')

optional_policy(`
	modutils_run(sysadm_t, sysadm_r)
')

optional_policy(`
	mount_run(sysadm_t, sysadm_r)
')

optional_policy(`
	mysql_admin(sysadm_t, sysadm_r)
	mysql_stream_connect(sysadm_t)
')

optional_policy(`
	netutils_run(sysadm_t, sysadm_r)
	netutils_run_ping(sysadm_t, sysadm_r)
	netutils_run_traceroute(sysadm_t, sysadm_r)
')

optional_policy(`
	networkmanager_admin(sysadm_t, sysadm_r)
')

optional_policy(`
	seutil_run_setfiles(sysadm_t, sysadm_r)
	seutil_run_runinit(sysadm_t, sysadm_r)
')


optional_policy(`
	sysnet_run_ifconfig(sysadm_t, sysadm_r)
	sysnet_run_dhcpc(sysadm_t, sysadm_r)
')

optional_policy(`
	udevadm_run(sysadm_t, sysadm_r)
')


ifndef(`distro_redhat',`
	optional_policy(`
		auth_role(sysadm_r, sysadm_t)
	')

	optional_policy(`
		bluetooth_admin(sysadm_t, sysadm_r)
		bluetooth_role(sysadm_r, sysadm_t)
	')

')

	

	

