policy_module(kerberos)

########################################
#
# Declarations
#

## <desc>
##	<p>
##	Determine whether kerberos is supported.
##	</p>
## </desc>
gen_tunable(allow_kerberos, false)

type kadmind_t;
type kadmind_exec_t;
init_daemon_domain(kadmind_t, kadmind_exec_t)
domain_obj_id_change_exemption(kadmind_t)

type kadmind_log_t;
logging_log_file(kadmind_log_t)

type kadmind_runtime_t;
files_runtime_file(kadmind_runtime_t)

type kadmind_tmp_t;
files_tmp_file(kadmind_tmp_t)

type kerberos_initrc_exec_t;
init_script_file(kerberos_initrc_exec_t)

type kpropd_t;
type kpropd_exec_t;
init_daemon_domain(kpropd_t, kpropd_exec_t)
domain_obj_id_change_exemption(kpropd_t)

type krb5_conf_t;
files_type(krb5_conf_t)

type krb5_home_t;
userdom_user_home_content(krb5_home_t)

type krb5_host_rcache_t;
files_tmp_file(krb5_host_rcache_t)

type krb5_keytab_t;
files_security_file(krb5_keytab_t)

type krb5kdc_conf_t;
files_type(krb5kdc_conf_t)

type krb5kdc_lock_t;
files_type(krb5kdc_lock_t)

type krb5kdc_principal_t;
files_type(krb5kdc_principal_t)

type krb5kdc_t;
type krb5kdc_exec_t;
init_daemon_domain(krb5kdc_t, krb5kdc_exec_t)
domain_obj_id_change_exemption(krb5kdc_t)

type krb5kdc_log_t;
logging_log_file(krb5kdc_log_t)

type krb5kdc_runtime_t alias krb5kdc_var_run_t;
files_runtime_file(krb5kdc_runtime_t)

type krb5kdc_tmp_t;
files_tmp_file(krb5kdc_tmp_t)

########################################
#
# kadmind local policy
#

allow kadmind_t self:capability { chown dac_override fowner setgid setuid sys_nice };
dontaudit kadmind_t self:capability sys_tty_config;
allow kadmind_t self:capability2 block_suspend;
allow kadmind_t self:process { setfscreate setsched getsched signal_perms };
allow kadmind_t self:netlink_route_socket r_netlink_socket_perms;
allow kadmind_t self:tcp_socket { accept listen };
allow kadmind_t self:udp_socket create_socket_perms;

allow kadmind_t kadmind_log_t:file { append_file_perms create_file_perms setattr_file_perms };
logging_log_filetrans(kadmind_t, kadmind_log_t, file)

allow kadmind_t krb5_conf_t:file read_file_perms;
dontaudit kadmind_t krb5_conf_t:file write_file_perms;

read_files_pattern(kadmind_t, krb5kdc_conf_t, krb5kdc_conf_t)
dontaudit kadmind_t krb5kdc_conf_t:file { write_file_perms setattr_file_perms };

allow kadmind_t krb5kdc_lock_t:file { rw_file_perms setattr_file_perms };

allow kadmind_t krb5kdc_principal_t:file manage_file_perms;
filetrans_pattern(kadmind_t, krb5kdc_conf_t, krb5kdc_principal_t, file)

manage_dirs_pattern(kadmind_t, kadmind_tmp_t, kadmind_tmp_t)
manage_files_pattern(kadmind_t, kadmind_tmp_t, kadmind_tmp_t)
files_tmp_filetrans(kadmind_t, kadmind_tmp_t, { file dir })

manage_files_pattern(kadmind_t, kadmind_runtime_t, kadmind_runtime_t)
files_runtime_filetrans(kadmind_t, kadmind_runtime_t, file)

can_exec(kadmind_t, kadmind_exec_t)

kernel_read_kernel_sysctls(kadmind_t)
kernel_read_network_state(kadmind_t)
kernel_read_system_state(kadmind_t)

corenet_all_recvfrom_netlabel(kadmind_t)
corenet_tcp_sendrecv_generic_if(kadmind_t)
corenet_udp_sendrecv_generic_if(kadmind_t)
corenet_tcp_sendrecv_generic_node(kadmind_t)
corenet_udp_sendrecv_generic_node(kadmind_t)
corenet_tcp_bind_generic_node(kadmind_t)
corenet_udp_bind_generic_node(kadmind_t)

corenet_sendrecv_all_server_packets(kadmind_t)
corenet_tcp_bind_kerberos_admin_port(kadmind_t)
corenet_udp_bind_kerberos_admin_port(kadmind_t)
corenet_tcp_bind_reserved_port(kadmind_t)

dev_read_sysfs(kadmind_t)

fs_getattr_all_fs(kadmind_t)
fs_search_auto_mountpoints(kadmind_t)

domain_use_interactive_fds(kadmind_t)

files_read_etc_files(kadmind_t)
files_read_usr_files(kadmind_t)
files_read_var_files(kadmind_t)

selinux_validate_context(kadmind_t)

logging_send_syslog_msg(kadmind_t)

miscfiles_read_localization(kadmind_t)

seutil_read_file_contexts(kadmind_t)

sysnet_use_ldap(kadmind_t)

userdom_dontaudit_use_unpriv_user_fds(kadmind_t)
userdom_dontaudit_search_user_home_dirs(kadmind_t)

optional_policy(`
	ldap_stream_connect(kadmind_t)
')

