policy_module(mediawiki)

########################################
#
# Declarations
#

# apache support disabled for systems without apache

########################################
#
# Local policy
#

# apache support disabled for systems without apache
