policy_module(java)

########################################
#
# Declarations
#

## <desc>
##	<p>
##	Determine whether java can make
##	its stack executable.
##	</p>
## </desc>
gen_tunable(allow_java_execstack, false)

attribute java_domain;

attribute_role java_roles;
roleattribute system_r java_roles;

attribute_role unconfined_java_roles;

type java_t, java_domain;
type java_exec_t;
type unconfined_java_t;
userdom_user_application_domain(java_t, java_exec_t)
role java_roles types java_t;
userdom_user_application_domain(unconfined_java_t, java_exec_t)
role unconfined_java_roles types unconfined_java_t;

########################################
#
# Unconfined local policy
#

optional_policy(`
	allow unconfined_java_t self:process { execstack execmem execheap };

	files_execmod_all_files(unconfined_java_t)

	init_dbus_chat_script(unconfined_java_t)

	unconfined_domain_noaudit(unconfined_java_t)
	unconfined_dbus_chat(unconfined_java_t)

	optional_policy(`
		rpm_domtrans(unconfined_java_t)
	')
')
