policy_module(man2html)

########################################
#
# Declarations
#

# apache support disabled for systems without apache

type httpd_man2html_script_cache_t;
files_type(httpd_man2html_script_cache_t)

########################################
#
# Local policy
#

# apache support disabled for systems without apache
