policy_module(amanda)

#######################################
#
# Declarations
#

attribute_role amanda_recover_roles;
roleattribute system_r amanda_recover_roles;

type amanda_t;
type amanda_inetd_exec_t;
inetd_service_domain(amanda_t, amanda_inetd_exec_t)

type amanda_exec_t;
domain_entry_file(amanda_t, amanda_exec_t)

type amanda_log_t;
logging_log_file(amanda_log_t)

type amanda_config_t;
files_type(amanda_config_t)

type amanda_usr_lib_t;
files_type(amanda_usr_lib_t)

type amanda_var_lib_t;
files_type(amanda_var_lib_t)

type amanda_gnutarlists_t;
files_type(amanda_gnutarlists_t)

type amanda_tmp_t;
files_tmp_file(amanda_tmp_t)

type amanda_amandates_t;
files_type(amanda_amandates_t)

type amanda_dumpdates_t;
files_type(amanda_dumpdates_t)

type amanda_data_t;
files_type(amanda_data_t)

type amanda_recover_t;
type amanda_recover_exec_t;
application_domain(amanda_recover_t, amanda_recover_exec_t)
role amanda_recover_roles types amanda_recover_t;

type amanda_recover_dir_t;
files_type(amanda_recover_dir_t)

